.cartwidget{
    /* border-radius: 50%; */
    /* background-color: rgb(243, 239, 239); */
    color: #ffff;
    padding: 5px;
    font-size: 5px;
    margin-right: 13px;
    
}
.cart{
    width: 25px;
    height: auto;
    
}
#cart_menu_num {
    position: absolute;
    top: 40px;
    font-weight: bolder;
    background: rgb(204, 202, 202);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: flex;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 3px;
  }

  #cart_menu_num:hover{
    background: rgb(0, 0, 0);
    color: rgb(204, 202, 202);
  }
  