.NavBar{
    background-color: rgb(9, 15, 75);
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 10px;
    
}
.title{
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.05em;
}
.link{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.stroke ul li a{
    position: relative;
  }
  nav.stroke ul li a::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: rgb(255, 255, 255);
    height: 1px;
  }
  nav.stroke ul li a:hover::after {
    width: 100%;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color: rgb(255, 255, 255);
  }
  nav ul li a {
    letter-spacing: 0.05em;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 10px;
  }



.categorias{
   display: flex;
   justify-content: center;
   align-items:center;
   align-content: center;
   padding: 0;
   
}
.categorias li{
    list-style-type: none;
    text-decoration: none;
    margin: 0 10px;
    
}
.categoria{
    text-decoration: none;
}
.categoria-activa{
    
    
}

