@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
body {
    margin:0;
    padding:0;
    /* background-image: url('https://image.freepik.com/vector-gratis/fondo-azul-oscuro-abstracto-lineas-luz-neon-azul-claro-espacio-blanco_156943-400.jpg'); */
    background-color: #ebebeb;
    opacity: 100%;
   
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
